body {
  background: #072b15;
}

header,
main,
footer {
  min-width: 855px;
}

header .container,
main .container,
footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: rgb(72, 212, 100);
  overflow: auto;
}

header h1 {
  float: right;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: rgb(166, 236, 161);
  overflow: auto;
}

main .left {
  float: center;
  width: 570px;
  border: 5px solid #ffffff;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 22px;
  letter-spacing: 4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-box-shadow: 5px 18px 15px 2px rgba(0, 0, 0, 0.67);
  box-shadow: 5px 18px 15px 2px rgba(0, 0, 0, 0.67);
}

main .right {
  float: left;
  width: 285px;
  border: 2px solid #f4f4f4;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

p {
  border: 10px solid #d0f6ce;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 11px;
  letter-spacing: 4px;
  word-spacing: 2px;
  color: #e8e6e6;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-box-shadow: 5px 18px 15px 2px rgba(0, 0, 0, 0.67);
  box-shadow: 5px 18px 15px 2px rgba(0, 0, 0, 0.67);
}